@{
    ViewData["Title"] = "About";
}
<h1><u>@ViewData["Title"]</u></h1>
<br />
<p>This is an example of an ASP.NET core web app - built using MVC architecture and razor page views. Razor pages allow you to use C# code in the view on the client side, providing more powerful processing than javascript alone.</p>
<p>You can also build custom helper methods - to render common view components. This makes coding a view lightweight and simple, providing a powerful development technology, especially if combined with reusable C# code blocks and replayable database commands.</p>
<p>A web app runs in the browser and could require a VPN connection, to an intranet, perhaps. HtmlUI could start out as a self-contained app with core functionality, but other apps could be opened via the browser. This could involve editing the registry keys, see:</p>
<a style="color:black" href="https://stackoverflow.com/questions/3057576/how-to-launch-an-application-from-a-browser">https://stackoverflow.com/questions/3057576/how-to-launch-an-application-from-a-browser</a>
<br />
<br />
<p>This solution could include a test project, with a suite of automated tests for each controller method and workflow. Combined with Selenium UI testing, this could provide a robust CI/CD pipeline to avoid errors in the live system.</p>
<a style="color:black" href="https://learn.microsoft.com/en-us/azure/devops/pipelines/get-started/what-is-azure-pipelines?view=azure-devops">https://learn.microsoft.com/en-us/azure/devops/pipelines/get-started/what-is-azure-pipelines?view=azure-devops</a>
<br />
<a style="color:black"  href="https://en.wikipedia.org/wiki/Facade_pattern">https://en.wikipedia.org/wiki/Facade_pattern</a>


<a style="color:black" href="https://www.flaticon.com/free-icons/invoice" title="invoice icons">Icons created by Smashicons & Freepik - Flaticon</a>